# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
Thumbs.db
.fleet
.idea
.vscode
.cursor

# Local env files
.env
.env.*
!.env.example

# Cloudflare
.wrangler

# TypeScript
*.tsbuildinfo

# Test
coverage

# AI tools
.claude

# Deployment
.vercel
