@import "../../../../../layers/base/app/assets/css/main.css";

@source "../../components/**/*.vue";
@source "../../pages/**/*.vue";

@theme {
  --color-ink: #0a0a0b;
  --color-paper: #f4f1e8;
  --color-paper-alt: #e8e4d7;
  --color-muted-brand: #6b6960;

  --color-cobalt: #1e3cff;
  --color-magenta: #ff2bb0;
  --color-violet: #7b2bff;
  --color-amber-brand: #ffd23f;
  --color-ember: #ff7a1f;
  --color-cyan-brand: #00e0c7;

  --font-display: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, "SF Mono", monospace;
}
