@import "../../../../../layers/base/app/assets/css/main.css";

@source "../../components/**/*.vue";
@source "../../pages/**/*.vue";

/* Zinc palette */
:root {
  --color-gray-50: oklch(0.985 0 0);
  --color-gray-100: oklch(0.967 0.001 286.375);
  --color-gray-200: oklch(0.92 0.004 286.32);
  --color-gray-300: oklch(0.871 0.006 286.286);
  --color-gray-400: oklch(0.705 0.015 286.067);
  --color-gray-500: oklch(0.552 0.016 285.938);
  --color-gray-600: oklch(0.442 0.017 285.786);
  --color-gray-700: oklch(0.37 0.013 285.805);
  --color-gray-800: oklch(0.274 0.006 286.033);
  --color-gray-900: oklch(0.21 0.006 285.885);
  --color-gray-950: oklch(0.141 0.005 285.823);
}

@layer base {
  :root {
    --accent: var(--color-green-600);
    --accent-foreground: var(--color-white);
  }

  .dark {
    --accent: var(--color-green-500);
    --accent-foreground: var(--color-white);
  }
}

.section-title {
  @apply text-primary text-[2.5rem] !leading-[1.25] font-medium tracking-[-0.06em] text-balance sm:text-6xl;
}

.section-title-large {
  @apply text-primary text-[clamp(2.5rem,12vw,6rem)] !leading-[1.1] font-semibold tracking-tighter text-balance;
}

.section-subtitle {
  @apply font-semibold tracking-tighter text-balance text-green-600 dark:text-green-400;
}

.section-description {
  @apply text-body max-w-xl text-base !leading-relaxed tracking-tight text-pretty sm:text-lg;
}

@utility gradient-accent {
  @apply from-green-500 to-green-600;
}

@utility page-title {
  @apply text-primary text-xl !leading-[1.2] font-medium tracking-tighter text-balance sm:text-2xl;
}

@utility page-description {
  @apply text-muted-foreground text-sm tracking-tight;
}

@utility text-gradient-accent {
  @apply bg-linear-to-r from-orange-400 via-orange-600 to-red-600 bg-clip-text text-transparent;
}

.gallery-container .my-gallery {
  @apply 3xl:grid-cols-4 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3;
}

.gallery-container .my-gallery .gallery-thumbnail {
  @apply bg-muted mx-0.5 my-0.5 aspect-1600/1067;
}

.gallery-container .my-gallery .gallery-thumbnail img {
  @apply size-full object-cover;
}

img.pswp__img {
  @apply object-contain;
}
