@import "../../../../../layers/base/app/assets/css/main.css";

@source "../../components/**/*.vue";
@source "../../pages/**/*.vue";

@theme {
  /* Yellow (custom) */
  --color-yellow-50: oklch(0.99 0.0287 109.03);
  --color-yellow-100: oklch(0.98 0.078 110.87);
  --color-yellow-200: oklch(0.97 0.1424 110.91);
  --color-yellow-300: oklch(0.97 0.193 109.52);
  --color-yellow-400: oklch(0.94 0.2 105.99);
  --color-yellow-500: oklch(0.88 0.183 102.35);
  --color-yellow-600: oklch(0.75 0.153 94.01);
  --color-yellow-700: oklch(0.6 0.1231 84.12);
  --color-yellow-800: oklch(0.52 0.1031 79.63);
  --color-yellow-900: oklch(0.45 0.0886 74.58);
  --color-yellow-950: oklch(0.31 0.0616 69.71);
}

:root {
  --font-display:
    DisplayGF, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-heading:
    HeadingElv, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --accent: var(--color-yellow-400);
  --accent-foreground: var(--color-black);
}

.dark {
  --accent: var(--color-yellow-400);
  --accent-foreground: var(--color-black);
}

.section-title {
  @apply text-primary text-4xl !leading-[1.2] font-medium tracking-tighter text-balance sm:text-5xl;
}

.section-title-large {
  @apply xs:text-6xl 3xl:text-8xl font-display bg-linear-to-r from-black to-black/80 bg-clip-text text-5xl !leading-[1] tracking-tight text-balance text-transparent md:text-7xl lg:text-[5.5rem] dark:from-white dark:to-white/40;
}

.section-description {
  @apply text-body max-w-xl text-base !leading-relaxed tracking-tight text-pretty sm:text-lg;
}

.section-title-heading {
  @apply font-display 3xl:text-8xl 3xl:leading-[1] text-5xl leading-[1] tracking-[-0.0125em] text-balance text-black sm:text-6xl sm:leading-[1] xl:text-7xl xl:leading-[1] dark:text-white;
}

.gradient-accent,
.before\:gradient-accent::before,
.text-gradient-accent {
  @apply from-yellow-400 to-yellow-500 text-black;
}

.text-gradient-accent {
  @apply bg-clip-text text-transparent;
}

.gradient-rainbow {
  background: linear-gradient(
    90deg,
    #fc6756,
    #f8cf3e 38%,
    #26f4d0 52%,
    #724ce8
  );
}

.rainbow-button {
  --color-1: hsl(0 100% 63%);
  --color-2: hsl(270 100% 63%);
  --color-3: hsl(210 100% 63%);
  --color-4: hsl(195 100% 63%);
  --color-5: hsl(90 100% 63%);
  --speed: 8s;
  animation: rainbow var(--speed) infinite linear;

  @apply text-primary-foreground focus-visible:ring-ring relative flex items-center justify-center gap-x-2 bg-[linear-gradient(#121213,#121213),linear-gradient(#121213_50%,rgba(18,18,19,0.6)_80%,rgba(18,18,19,0)),linear-gradient(90deg,var(--color-1),var(--color-5),var(--color-3),var(--color-4),var(--color-2))] bg-[length:200%] [background-clip:padding-box,border-box,border-box] [background-origin:border-box] transition [border:calc(0.08*1rem)_solid_transparent] before:absolute before:bottom-[-20%] before:left-1/2 before:z-0 before:h-1/5 before:w-3/5 before:-translate-x-1/2 before:bg-[linear-gradient(90deg,var(--color-1),var(--color-5),var(--color-3),var(--color-4),var(--color-2))] before:bg-[length:200%] before:[filter:blur(calc(0.8*1rem))] focus-visible:ring-1 focus-visible:outline-none active:scale-95 disabled:pointer-events-none disabled:opacity-50 dark:bg-[linear-gradient(#fff,#fff),linear-gradient(#fff_50%,rgba(255,255,255,0.6)_80%,rgba(0,0,0,0)),linear-gradient(90deg,var(--color-1),var(--color-5),var(--color-3),var(--color-4),var(--color-2))];
}

.rainbow-button:before {
  animation: rainbow var(--speed) infinite linear;
}

@keyframes rainbow {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

.gradient-gold {
  background-image:
    linear-gradient(0deg, #c1a875, #c1a875),
    linear-gradient(to right, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    );
  background-blend-mode: color, overlay, normal;
}

.rundown-images .my-gallery {
  @apply 3xl:grid-cols-4 -mx-3 grid grid-cols-1 sm:mx-0 sm:grid-cols-2 xl:grid-cols-3;

  & .gallery-thumbnail {
    @apply bg-muted aspect-1200/1600 overflow-hidden rounded-md border sm:mx-1 sm:my-1;

    & img {
      @apply size-full object-cover;
    }
  }
}
