@import "../../../../../layers/base/app/assets/css/main.css";

@source "../../components/**/*.vue";
@source "../../pages/**/*.vue";

:root {
  --accent: var(--color-red-600);
  --accent-foreground: var(--color-white);
}

.dark {
  --accent: var(--color-red-500);
  --accent-foreground: var(--color-black);
}

.section-subtitle {
  @apply font-semibold tracking-tighter text-balance text-red-600 dark:text-red-400;
}

.section-title {
  @apply text-primary text-4xl !leading-[1.2] font-medium tracking-tighter text-balance sm:text-5xl;
}

.section-title-large {
  @apply xs:text-6xl xs:leading-[1.1] 3xl:text-8xl 3xl:leading-[1.1] pb-2 text-[12vw] leading-[1.1] font-semibold tracking-tighter text-balance text-black md:text-7xl md:leading-[1.1] lg:text-[5.5rem] lg:leading-[1.1] dark:bg-linear-to-r dark:from-white dark:to-gray-500 dark:bg-clip-text dark:text-transparent;
}

.section-description {
  @apply text-body max-w-xl text-base !leading-relaxed tracking-tight text-pretty sm:text-lg;
}

.gradient-accent,
.before\:gradient-accent::before,
.text-gradient-accent {
  @apply bg-linear-to-r from-red-500 to-red-600 font-medium tracking-tight dark:from-red-400 dark:to-red-500;
  /* background-image:
    linear-gradient(0deg, #dc2626, #dc2626),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4) 52.79%,
      rgba(0, 0, 0, 0.5) 95.95%
    ),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    );
  background-blend-mode: color, overlay, normal; */
}

.text-gradient-accent {
  @apply bg-clip-text text-transparent;
}

.gradient-gold {
  background-image:
    linear-gradient(0deg, #c1a875, #c1a875),
    linear-gradient(to right, rgba(255, 255, 255, 0) 52.79%, #ffffff 95.95%),
    linear-gradient(
      76.82deg,
      #576265 11.6%,
      #9ea1a1 25.31%,
      #848b8a 48.06%,
      #576265 55.72%,
      #576265 77.23%,
      #757a7b 85.34%,
      #576265 91.31%
    );
  background-blend-mode: color, overlay, normal;
}
